In [ ]:
pip install numpy pandas pytest

In [ ]:
import json
import urllib.request
import pandas as pd
import numpy as np

In [ ]:
from mon_projet.etl import extract_boston_salary

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"

df = extract_boston_salary(URL)
df.head()

In [6]:
from mon_projet.etl import transform

df_clean = transform(df)
df_clean.head()

ImportError: cannot import name 'transform' from 'mon_projet.etl' (C:\Users\ashle\Documents\projet_boston\project_data\mon_projet\etl.py)

In [7]:
import os
print(os.getcwd())

C:\Users\ashle\Documents\projet_boston\project_data

In [8]:
import sys
print(sys.path)

['C:\\Users\\ashle\\AppData\\Local\\Programs\\Python\\Python314\\python314.zip', 'C:\\Users\\ashle\\AppData\\Local\\Programs\\Python\\Python314\\DLLs', 'C:\\Users\\ashle\\AppData\\Local\\Programs\\Python\\Python314\\Lib', 'C:\\Users\\ashle\\AppData\\Local\\Programs\\Python\\Python314', 'C:\\Users\\ashle\\Documents\\projet_boston\\env_dataops', '', 'C:\\Users\\ashle\\Documents\\projet_boston\\env_dataops\\Lib\\site-packages', 'C:\\Users\\ashle\\Documents\\projet_boston\\env_dataops\\Lib\\site-packages\\win32', 'C:\\Users\\ashle\\Documents\\projet_boston\\env_dataops\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\ashle\\Documents\\projet_boston\\env_dataops\\Lib\\site-packages\\Pythonwin']

In [9]:
import os
os.chdir(r"C:\Users\ashle\Documents\projet_boston\project_data")
print(os.getcwd())

C:\Users\ashle\Documents\projet_boston\project_data

In [10]:
from mon_projet.etl import transform

ImportError: cannot import name 'transform' from 'mon_projet.etl' (C:\Users\ashle\Documents\projet_boston\project_data\mon_projet\etl.py)

In [11]:
from mon_projet.etl import extract_boston_salary

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"

df = extract_boston_salary(URL)
df.head()

✅ Extraction réussie : 100 lignes récupérées.

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,1,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",None,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69","677,680.65",02356
1,2,"Earley,John W",Boston Police Department,Police Lieutenant,"26,130.54","13,001.47","204,120.61",668.36,None,440.00,"6,532.63","250,893.61",02131
2,3,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",None,"200,000.00",None,None,None,None,"208,676.89",02135
3,4,"Evans,William B",Boston Police Department,Commissioner (Bpd),"149,999.93","3,461.56","165,858.44",None,None,None,None,"319,319.93",02127
4,5,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",None,"114,973.46",None,None,None,None,"577,123.44",02126

In [12]:
from mon_projet.etl import extract_boston_salary, transform

ImportError: cannot import name 'transform' from 'mon_projet.etl' (C:\Users\ashle\Documents\projet_boston\project_data\mon_projet\etl.py)

In [13]:
import mon_projet.etl
dir(mon_projet.etl)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'extract_boston_salary',
 'json',
 'pd',
 'urllib']

In [1]:
from mon_projet.etl import extract_boston_salary, transform

df_clean = transform(df)
df_clean.head()

NameError: name 'df' is not defined

In [2]:
from mon_projet.etl import extract_boston_salary, transform

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1
df = extract_boston_salary(URL)

SyntaxError: unterminated string literal (detected at line 3) (3947004164.py, line 3)

In [3]:
from mon_projet.etl import extract_boston_salary, transform

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"

df = extract_boston_salary(URL)

✅ Extraction réussie : 100 lignes récupérées.

In [4]:
from mon_projet.etl import extract_boston_salary

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"

df = extract_boston_salary(URL)
df.head()

✅ Extraction réussie : 100 lignes récupérées.

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,1,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",None,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69","677,680.65",02356
1,2,"Earley,John W",Boston Police Department,Police Lieutenant,"26,130.54","13,001.47","204,120.61",668.36,None,440.00,"6,532.63","250,893.61",02131
2,3,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",None,"200,000.00",None,None,None,None,"208,676.89",02135
3,4,"Evans,William B",Boston Police Department,Commissioner (Bpd),"149,999.93","3,461.56","165,858.44",None,None,None,None,"319,319.93",02127
4,5,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",None,"114,973.46",None,None,None,None,"577,123.44",02126

In [5]:
from mon_projet.etl import transform

df_clean = transform(df)
df_clean.head()

✅ Transformation terminée : 100 lignes conservées.

,NAME,TITLE,DEPARTMENT_NAME,TOTAL EARNINGS
0,"Williams,David C.",Police Officer,Boston Police Department,677680.65
1,"Earley,John W",Police Lieutenant,Boston Police Department,250893.61
2,"Bucelewicz,Helen",Police Officer,Boston Police Department,208676.89
3,"Evans,William B",Commissioner (Bpd),Boston Police Department,319319.93
4,"Jones,Ronnie C",Police Officer,Boston Police Department,577123.44

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             100 non-null    object
 1   TITLE            100 non-null    object
 2   DEPARTMENT_NAME  100 non-null    object
 3   TOTAL EARNINGS   100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB

In [8]:
df_clean = df_clean.drop_duplicates(subset=["NAME", "DEPARTMENT_NAME"])

In [9]:
from mon_projet.etl import load

load(df_clean, "boston_salaries_clean.csv")

ImportError: cannot import name 'load' from 'mon_projet.etl' (C:\Users\ashle\Documents\projet_boston\project_data\mon_projet\etl.py)

In [1]:
from mon_projet.etl import load

load(df_clean, "boston_salaries_clean.csv")

NameError: name 'df_clean' is not defined

In [2]:
from mon_projet.etl import extract_boston_salary, transform, load


URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"


df = extract_boston_salary(URL)


df_clean = transform(df)

✅ Extraction réussie : 100 lignes récupérées.
✅ Transformation terminée : 100 lignes conservées.

In [3]:
from mon_projet.etl import load

load(df_clean, "boston_salaries_clean.csv")

✅ Données sauvegardées dans le fichier : boston_salaries_clean.csv

In [4]:
import os
os.listdir()

['.git',
 '.github',
 '.ipynb_checkpoints',
 '1.ipynb',
 'boston_salaries_clean.csv',
 'env_dataops',
 'main.py',
 'mon_projet',
 'README.md',
 'requirements.txt',
 'tests']

In [5]:
from mon_projet.etl import analyse

stats = analyse(df_clean)

stats.get("POLICE")

ImportError: cannot import name 'analyse' from 'mon_projet.etl' (C:\Users\ashle\Documents\projet_boston\project_data\mon_projet\etl.py)

In [2]:
from mon_projet.etl import extract_boston_salary, transform, load, analyse

In [3]:
from mon_projet.etl import analyse

stats = analyse(df_clean)

stats.get("POLICE")

NameError: name 'df_clean' is not defined

In [4]:
from mon_projet.etl import extract_boston_salary, transform, load, analyse

URL = "https://data.boston.gov/api/3/action/datastore_search?resource_id=31358fd1-849a-48e0-8285-e813f6efbdf1"
df = extract_boston_salary(URL)

df_clean = transform(df)

load(df_clean, "boston_salaries_clean.csv")

✅ Extraction réussie : 100 lignes récupérées.
✅ Transformation terminée : 100 lignes conservées.
✅ Données sauvegardées dans le fichier : boston_salaries_clean.csv

In [5]:
from mon_projet.etl import analyse

stats = analyse(df_clean)

stats.get("POLICE")

✅ Analyse réalisée sur 1 départements.

In [6]:
from mon_projet.etl import analyse

stats = analyse(df_clean)


stats.get("POLICE")

✅ Analyse réalisée sur 1 départements.

In [7]:
import pandas as pd


df_stats = pd.DataFrame.from_dict(stats, orient="index")
df_stats = df_stats.sort_values(by="moyenne", ascending=False)
df_stats.head(10)

,min,max,moyenne,mediane,écart,nb_employés
Boston Police Department,34791.89,684410.9,191617.9897,151603.65,649619.01,100